<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add category</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
	<h2>Add new team </h2>
	<div>
		<form th:object="${team}" th:action="@{saveteam}" action="#" method="post">
			<input type="text" id="team" th:field="*{teamName}" class="form-control" />
			
			<input type="submit" class="btn btn-primary" value="Save">
		</form>
	</div>
</body>
</html>